{% load menu static i18n %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block title %}{{ title }}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block menu %}
				{% if request.user.is_authenticated %}
					{% block left-menu %}
						{% menu 'IS' %}
					{% endblock %}
				{% endif %}
			{% endblock %}
			{% block bread-crumbs %}
				{% if request.user.is_authenticated %}
					{% bread_crumbs %}
				{% endif %}
			{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}
			<footer>
				<div class="pull-right">
					<span>{{ PROJECT_VERBOSE }} &copy; {% now "Y" %} (v {{ PROJECT_VERSION }})</span>
				</div>
			</footer>
			{% endblock %}
		{% endblock %}
		{% block foot-scripts %}
			{% if JS_DEV %}
				<script src="{% static 'js/goog/base.js' %}" type="text/javascript"></script>
				<script src="{% static 'js/deps.js' %}" type="text/javascript"></script>
				<script src="{% static 'js/start.js' %}" type="text/javascript"></script>
				<script src="http://localhost:35729/livereload.js"></script>
			{% else %}
				<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
			{% endif %}
			<script type="text/javascript">
				{% block scripts %}
					app.start(window, {error: '{% trans 'Internal error occurred. Service is unavailable, sorry.' %}', loading: '{% trans 'Loading...' %}'}, {% if JS_DEV %}true{% else %}false{% endif %});
				{% endblock %}
			</script>
		{% endblock %}
	</body>
</html>
