{% load menu %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{% block title %}{{ title }}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}
			{% block menu %}
				{% if request.user.is_authenticated %}
					{% block left-menu %}
						{% menu 'IS' %}
					{% endblock %}
				{% endif %}
			{% endblock %}
			{% block bread-crumbs %}
				{% if request.user.is_authenticated %}
					{% bread_crumbs %}
				{% endif %}
			{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}
			<footer>
				<div class="pull-right">
					<span>{{ PROJECT_VERBOSE }} &copy; {% now "Y" %} (v {{ PROJECT_VERSION }})</span>
				</div>
			</footer>
			{% endblock %}
		{% endblock %}
	</body>
</html>
