language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"

env:
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10


install:
  - cd example
  - pip install -r requirements/base.txt --process-dependency-links --allow-all-external
  - pip uninstall -y -q django
  - pip install -q Django==$DJANGO_VERSION
  - ln -sf $(pwd)/../is_core/ $(python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())")

# command to run tests
script:
   coverage run --omit */site-packages/*,*/migrations/*,*/lib/* manage.py test issue_tracker.tests --settings=dj.settings.settings -v 2
