{% load forms utils %}

<fieldset class="{% if title %}with-title{% else %}without-title{% endif %}{% if class %} {{ class }}{% endif %}">
	{% if title %}<legend>{{ title }}</legend>{% endif %}
	{% block above-form %}{% endblock %}
	{% for field_name_or_names in fields %}
		<div class="inner-content">
			{% with field_names=field_name_or_names|to_list %}
				<div class="form-group {{ field_names|join:' '}}">
				{% for field_name in field_names %}
					{% with field=form|get_field:field_name %}
						<div class="field {{ field_name }}">
							{% if not field.is_hidden %}
								<label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>
									{{ field.label|capfirst }}
									{% if field.field.required %}
										<span class="required">*</span>
									{% endif %}
								</label>
								<div class="field-value {{ field_name }}">{{ field }}</div>
								{{ field.errors }}
							{% else %}
								<div class="field-value {{ field_name }}">{{ field }}</div>
							{% endif %}
						</div>
					{% endwith %}
				{% endfor %}
				</div>
			{% endwith %}
		</div>
	{% empty %}
		<div class="inner-content"></div>
	{% endfor %}
	{% block below-form %}{% endblock %}
</fieldset>
