{% load i18n forms utils %}

<form{% if has_file_field %} enctype="multipart/form-data" {% endif %}{% if class_attr %} class="{{ class_attr|to_list|join:' ' }}"{% endif %}{% if id_attr %} id="{{ id_attr }}"{% endif %} method="{{ method }}" action="{% if action %}{{ action }}{% else %}{{ request.get_full_path }}{% endif %}">
	{% block form-content %}
		{% if use_csrf %}{% csrf_token %}{% endif %}

		{% block form-fields %}
			{% block above-form-fields %}{% endblock %}

			{% if fieldsets %}
				{{ form.non_field_errors }}
				{% for fieldset in fieldsets %}
					{% fieldset_renderer form fieldset %}
				{% endfor %}	
			{% else %}
				{{ form.as_p }}
			{% endif %}

			{% block below-form-fields %}{% endblock %}

		{% endblock %}

		{% block above-submit-button %}{% endblock %}

		<p>
		{% block submit-button %}
			<button type="submit" name="save" class="btn-save">{% trans "Save" %}</button>
		{% endblock %}
		</p>
	{% endblock %}
</form>
