{% load i18n forms %}

<fieldset class="inline tabular-inline {{ class_names|join:' ' }}">
	{% if title %}<legend>{{ title }}</legend>{% endif %}
	{{ formset.management_form }}
	<table class="form">
		{% for form in formset.all_forms %}
			{% if forloop.first %}
				<thead>
					<tr>
						{% for field_name in fieldset %}
							{% with field=form|get_field:field_name %}
								{% if not field.is_hidden %}
									<th>
										{{ field.label|capfirst }}
										{% if field.field.required %}
											<span class="required">*</span>
										{% endif %}
									</th>
								{% endif %}
							{% endwith %}
						{% endfor %}
					</tr>
				</thead>
			{% endif %}
			<tr class="{% cycle odd,even %} {{ form.class_names|join:' ' }}">
				{% with visible_fields=form|get_visible_fields:fieldset %}
					{% for field in visible_fields %}
						<td class="field{% if field.errors %} error{% endif %}">
							{# Include the hidden fields in the form #}
							{% if forloop.first %}
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								{{ form.non_field_errors }}
							{% endif %}
							{{ field.errors.as_ul }}
							{{ field }}
						</td>
					{% endfor %}
				{% endwith %}
			</tr>
		{% endfor %}
	</table>
	{% if formset.can_add %}<button type="button" class="dynamic btn btn-default">{% blocktrans %}Add {{ name }}{% endblocktrans %}</button>{% endif %}
</fieldset>
